<div class="faq-block main-width">
    <div class="faq-block__info">
        <div class="faq-block__title h2" data-i18n="faq.title">Frequently asked questions</div>
        <div class="faq-block__description" data-i18n="faq.description">For any unanswered questions, reach out to our support team via email. We'll respond as soon as possible to assist you.</div>
    </div>
    <div class="faq-block__list">
        <div class="faq-block__item">
            <details>
                <summary data-i18n="faq.q1">What are your payment methods?</summary>
                <p data-i18n="faq.a1">If you created a new account after or while ordering you can edit both addresses (for billing and shipping) in your customer account.</p>
            </details>
        </div>
        <a class="faq-block__item" href="">
            <details>
                <summary data-i18n="faq.q2">Where can I subscribe to your newsletter?</summary>
                <p data-i18n="faq.a2"></p>
            </details>
        </a>
        <a class="faq-block__item" href="">
            <details>
                <summary data-i18n="faq.q3">Can I order a free copy of a magazine to sample?</summary>
                <p data-i18n="faq.a3"></p>
            </details>
        </a>
        <a class="faq-block__item" href="">
            <details>
                <summary data-i18n="faq.q4">Do you accept orders via Phone or E-mail?</summary>
                <p data-i18n="faq.a4"></p>
            </details>
        </a>
        <a class="faq-block__item" href="">
            <details>
                <summary data-i18n="faq.q5">Where on your website can I open a customer account?</summary>
                <p data-i18n="faq.a5"></p>
            </details>
        </a>
        <a class="faq-block__item" href="">
            <details>
                <summary data-i18n="faq.q6">Do I need to create an account to make an order?</summary>
                <p data-i18n="faq.a6"></p>
            </details> 
        </a>             
    </div>
</div>