<div class="faq-block main-width">
    <div class="faq-block__info">
        <div class="faq-block__title h2" data-i18n="faq.title">Frequently asked questions</div>
        <div class="faq-block__description" data-i18n="faq.description">For any unanswered questions, reach out to our support team via email. We'll respond as soon as possible to assist you.</div>
    </div>
    <div class="faq-block__list">
        <div class="faq-block__item">
            <details>
                <summary data-i18n="faq.question1">What are your payment methods?</summary>
                <p data-i18n="faq.answer1">If you created a new account after or while ordering you can edit both addresses (for billing and shipping) in your customer account.</p>
            </details>
        </div>
    </div>
</div>