<section class="infographics">
    <div class="infographics-block main-width">
        <div class="infographics-block__title">
            <div data-i18n="infographics.title" class="h2">Hızlı, Kolay, Güvenli — kazanmanız için hazırız</div>
            <include src="button.html"></include>
        </div>
       <div class="infographics-block__list">
            <div class="infographics-block__item">
                <img src="images/infographic1.png" alt="" />
                <div class="infographics-block__item-title" data-i18n="infographics.item1">Hızlı</div>
                <div class="infographics-block__item-description" data-i18n="infographics.desc1">Bahis kuponunuzu 3 tıkta oluşturun. Canlı oranlar milisaniyeler içinde güncellenir; sayfalar < 1 sn’de açılır.</div>
            </div>
            <div class="infographics-block__item">
                <img src="images/infographic2.png" alt="" />
                <div class="infographics-block__item-title" data-i18n="infographics.item2">Kolay</div>
                <div class="infographics-block__item-description" data-i18n="infographics.desc2">60+ ödeme yöntemi, anında TL yatırma / çekme. Binlerce maç ve marketi akıllı filtrelerle saniyeler içinde bulun.</div>
            </div>
            <div class="infographics-block__item">
                <img src="images/infographic3.png" alt="" />
                <div class="infographics-block__item-title" data-i18n="infographics.item3">Güvenli</div>
                <div class="infographics-block__item-description" data-i18n="infographics.desc3">Curaçao lisanslı sertifikalı bahis sitesi. 256-bit SSL, bağımsız denetimler ve sorumlu oyun politikasıyla verileriniz </div>
            </div>
        </div>
    </div>
</section>