<div class="players">
  <div class="digits-block main-width">
    <div class="digits-block__title h2">
      <div data-i18n="players.title">Top Türkiye oyuncuları</div>
      <div class="digits-block__count">
        <include src="counter.html"></include>
      </div>
    </div>
    <ul class="digits-list">
      <li class="digits-list__item">
        <span class="digits-list__value">2 000+</span>
        <span class="digits-list__name" data-i18n="players.digit1"
          >Oyuncu 1</span
        >
      </li>
      <li class="digits-list__item">
        <span class="digits-list__value">2 000+</span>
        <span class="digits-list__name" data-i18n="players.digit2"
          >Oyuncu 2</span
        >
      </li>
      <li class="digits-list__item">
        <span class="digits-list__value">2 000+</span>
        <span class="digits-list__name" data-i18n="players.digit3"
          >Oyuncu 3</span
        >
      </li>
    </ul>
  </div>
  <include src="players-list.html"></include>
  <div class="main-width" style="display: flex; justify-content: center">
    <include src="button.html"></include>
  </div>
</div>
