.faq-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 140px;

    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 8px;
    }

    &__description {
        font-size: 18px;
        line-height: 156%;
        color: var(--text-body);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: 590px;

         @media (max-width: 767px) { 
            margin-top: 24px;
            max-width: 100%;
         }
    }

    &__item {
        border-top: 1px solid var(--border-border-tertiary);

        summary {
            padding: 24px;
            font-size: 24px;
            line-height: 133%;
            color: var(--text-heading-primary);
            cursor: pointer;
            position: relative;
            list-style: none;

             @media (max-width: 767px) { 
                padding: 24px 16px;
                font-size: 18px;
                line-height: 156%;
             }

            &::marker {
                display: none;
            }
            &::after {
                content: '';
                position: absolute;
                right: 24px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 25px;
                background: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" transform="translate(0 0.112793)" fill="white" fill-opacity="0.05"/><path d="M12 5.11279V19.1128M5 12.1128H19" stroke="%2364788C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center/contain;
                transition: background-image 0.2s;

                @media (max-width: 767px) { 
                    right: 16px;
                }
            }
        }
        details[open] summary::after {
            background: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" transform="translate(0 0.112793)" fill="white" fill-opacity="0.05"/><path d="M5 12.1128H19" stroke="%2364788C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center/contain;
        }

        p {
            padding: 0 24px 24px;
            font-size: 18px;
            line-height: 156%;
            color: var(--text-body);
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.4s cubic-bezier(.4,0,.2,1), opacity 0.3s;
            
            @media (max-width: 767px) { 
                    padding: 0 16px 24px;
                    font-size: 16px;
                    line-height: 150%;
                }
        
        }
        details[open] p {
            max-height: 500px;
            opacity: 1;
        }
    }
}