[data-brand="grandpashabet"] {

    .main-block__title span {
        color: #275033;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(39, 80, 51, 0.48) 0%, rgba(38, 163, 23, 0.00) 100%);
    }

}
[data-brand="casibom"] {
    .main-block__title span {
       color: #FFAA07;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(255, 175, 13, 0.48) 0%, rgba(255, 175, 13, 0.00) 100%);
    }
}
[data-brand="JojoBet"] {
    .main-block__title span {
       color: #29A514;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(38, 163, 23, 0.48) 0%, rgba(38, 163, 23, 0.00) 100%);
    }
}
[data-brand="bets10"] {
    .main-block__title span {
       color: #5EA649;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(80, 150, 69, 0.48) 0%, rgba(68, 121, 46, 0.00) 100%);
    }
}
[data-brand="onwin"] {
    .main-block__title span {
       color: #BB12A3;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(145, 19, 130, 0.48) 0%, rgba(197, 20, 175, 0.00) 100%);
    }
}
[data-brand="bilyoner"] {
    .main-block__title span {
      color: #0D411D; 
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(13, 65, 29, 0.48) 0%, rgba(57, 181, 74, 0.00) 100%);
    }
}
[data-brand="matbet"] {
    .main-block__title span {
       color: #0C2C63;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(12, 44, 99, 0.48) 0%, rgba(39, 78, 144, 0.00) 100%);
    }
}
[data-brand="marsbahis"] {
    .main-block__title span {
       color: #E00;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(225, 33, 35, 0.48) 0%, rgba(197, 31, 33, 0.00) 100%);
    }
}
[data-brand="matadorbet"] {
    .main-block__title span {
       color: #E62E11;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(230, 46, 17, 0.48) 0%, rgba(197, 31, 33, 0.00) 100%);
    }
}
[data-brand="grandpashabet-crown"] {
    .main-block__title span {
       color: #29A514;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(38, 163, 23, 0.48) 0%, rgba(38, 163, 23, 0.00) 100%);
    }
}
[data-brand="holiganbet"] {
    .main-block__title span {
       color: #FED80E;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(234, 219, 58, 0.48) 0%, rgba(233, 185, 47, 0.00) 100%);
    }
}
[data-brand="tipobet"] {
    .main-block__title span {
        color: #009E37;
    }

    .main-block__spline {
        background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(0, 158, 55, 0.48) 0%, rgba(0, 158, 55, 0.00) 100%);
    }
}
[data-brand="SekaBet"] {
    .main-block__title span {
       color: #F1C42E;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(235, 156, 39, 0.48) 0%, rgba(239, 180, 40, 0.00) 100%);
    }
}
[data-brand="dinamobet"] {
    .main-block__title span {
       color: #EED251;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(221, 209, 107, 0.48) 0%, rgba(229, 212, 103, 0.00) 100%);
    }
}
[data-brand="betist"] {
    .main-block__title span {
       color: #41B06B;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(63, 177, 107, 0.48) 0%, rgba(63, 177, 107, 0.00) 100%);
    }
}
[data-brand="vdcasino-shop"] {
    .main-block__title span {
       color: #C16F20;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(255, 253, 185, 0.48) 0%, rgba(203, 117, 38, 0.00) 100%);
    }
}
[data-brand="mariobet-life"] {
    .main-block__title span {
       color: #F6A728;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(232, 77, 28, 0.48) 0%, rgba(242, 163, 29, 0.00) 100%);
    }
}
[data-brand="betsat"] {
    .main-block__title span {
       color: #6F0184;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(111, 1, 132, 0.48) 0%, rgba(111, 1, 132, 0.00) 100%);
    }
}
[data-brand="tuttur"] {
    .main-block__title span {
       color: #19406C;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(63, 146, 227, 0.48) 0%, rgba(27, 71, 120, 0.00) 100%);
    }
}
[data-brand="misli"] {
    .main-block__title span {
       color: #EB4F26;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(235, 79, 38, 0.48) 0%, rgba(235, 79, 38, 0.00) 100%);
    }
}
[data-brand="bahsegel"] {
    .main-block__title span {
       color: #7B74F3;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(123, 116, 243, 0.48) 0%, rgba(123, 116, 243, 0.00) 100%);
    }
}
[data-brand="superbetin"] {
    .main-block__title span {
        color: #00E66C;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(0, 230, 108, 0.48) 0%, rgba(0, 230, 108, 0.00) 100%);
    }
}
[data-brand="hitbet"] {
    .main-block__title span {
       color: #D5B100;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(250, 210, 17, 0.48) 0%, rgba(250, 210, 17, 0.00) 100%);
    }
}
[data-brand="casinometropol"] {
    .main-block__title span {
       color: #A28537;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(162, 133, 55, 0.48) 0%, rgba(162, 133, 55, 0.00) 100%);
    }
}

[data-brand="jetbahis"] {
    .main-block__title span {
       color: #ED1C3E;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(245, 21, 54, 0.48) 0%, rgba(245, 21, 54, 0.00) 100%);
    }
}

[data-brand="bet365"] {
    .main-block__title span {
       color: #027B5B;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(2, 123, 91, 0.48) 0%, rgba(2, 123, 91, 0.00) 100%);
    }
}

[data-brand="betwin"] {
    .main-block__title span {
       color: #00A1D2;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(0, 161, 210, 0.48) 0%, rgba(0, 161, 210, 0.00) 100%);
    }
}

[data-brand="bwin"] {
    .main-block__title span {
       color: #E5B200;
    }

    .main-block__spline {
background :#09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(252, 203, 4, 0.48) 0%, rgba(252, 203, 4, 0.00) 100%);
    }
}

[data-brand="betway"] {
    .main-block__title span {
       color: #009600;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(0, 150, 0, 0.48) 0%, rgba(0, 150, 0, 0.00) 100%);
    }
}

[data-brand="turkbet"] {
    .main-block__title span {
       color: #990407;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(185, 28, 28, 0.48) 0%, rgba(185, 28, 28, 0.00) 100%);
    }

}[data-brand="betsafe"] {
    .main-block__title span {
       color: #990407;
    }

    .main-block__spline {
background: #09090B radial-gradient(46.94% 37.21% at 50% 50%, rgba(185, 28, 28, 0.48) 0%, rgba(185, 28, 28, 0.00) 100%);
    }
}